[submodule "kernel"]
	path = kernel
	url = git@github.com:fanchcho/linux_5.4.70_2.3.0.git
	branch = main
[submodule "uboot"]
	path = uboot
	url = git@github.com:fanchcho/uboot_5.4.70_2.3.0.git
	branch = main
[submodule "buildroot"]
	path = buildroot
	url = git@github.com:fanchcho/buildroot-2022.08.1.git
	branch = main
